<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <ul>
    <li class="dropdown-menu-right" [routerLink]="'navs'">navs</li>
    <li class="dropdown-menu-right" [routerLink]="'table'">table</li>
    <li class="dropdown-menu-right" [routerLink]="'lazy'">lazy</li>
    <li class="dropdown-menu-right" [routerLink]="'anim'">animation</li>
  </ul>
</nav>
<div class="page app-component">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!!
    </h1>
    <zas-ngp-library></zas-ngp-library>
  </div>
  <h2>Ceci est une simple application de test des composants</h2>
  
  <router-outlet></router-outlet>
</div>
